.text {
    font-family: sans-serif;
    font-size: small;
    color: white;
}

.text-small {
    font-family: sans-serif;
    font-size: x-small;
    color: white;
}

.film-image {
    width: 320px;
    height: 500px;
}

.frame {
    width: 23%;
    height: 600px;
    overflow: hidden;
    border: 10px solid transparent;
    display: inline-block;
}